<article id="main-page">
  <div id="main-page-page">
    <% if lunch.menu_items.empty? %>
        <h2>Sorry, no menu items. :(</h2>
    <% else %>
      <div id="main-page-title">Lunch of the Day</div>
      <div id="main-page-date"><%= lunch.date %></div>
      <ul class="text-list" style="list-style-type: none;">
        <% lunch.menu_items.each do |menu_item| %>
          <li>
            <div class="item-display">
              <div class="item-name">
                <%= menu_item.name %>
              </div>
              <div class ="rating">
                <strong>Rating: </strong> <%= menu_item.avg_rating %>
              </div>
              <div class="text-body">
                <div class="description"> <strong> Description </strong></div>
                <br>
                <%= menu_item.description %>
              </div>
              <div class="rating-button">
                <form method="POST" action="/review/<%= menu_item.id %>">
                  <input type="textarea" name= "lunch_comment">
                  <input type="number" name="lunch_rating" min="1" max="10">
                  <button type="submit">Submit Rating</button>
                </form>
              </div>
            </div>
          </li>
       <% end %>
      </ul>
    <% end %>
    
    <h3>Users</h3>
    <% if user_signed_in? %>
      <p>
        It looks like you're signed in. Congrats! You can
        <a href="/sessions/sign_out">sign out</a> at any time.
      </p>
    <% else %>
       <p>
        It doesn't look like you're signed in.  You should
         <a href="/users/new">create an account</a> or
        <a href="/sessions/new">sign into your existing account</a>.
      </p>
    <% end %>
    <% if users.empty? %>
      <p>
        Nobody's signed up yet!  Why don't you
        <a href="/users/new">create an account</a>?
      </p>
    <% else %>
      <ul>
        <% users.each do |user| %>
        <li><%= user.email %></li>
       <% end %>
      </ul>
    <% end %>
  </div>
</article>