<article id="main-page">
  <% if lunch.menu_items.empty? %>
    <h2>Sorry, no menu items. :(</h2>
  <% else %>
    <h1 class="text-center">
      Lunch of the Day
      <br>
      <%= lunch.date %>
    </h1>
    <ul style="list-style-type: none;">
      <% lunch.menu_items.each do |menu_item| %>
        <li>
          <div class="item-display">
            <div class="text-center">
              <h2 class="item-underline"><%= menu_item.name %></h2>
            </div>
            <div class ="rating">
              <strong>Rating: </strong> <%= menu_item.avg_rating %>
            </div>
            <div class="text-body">
              <h4 class="text-center">Description</h4>
              <br>
              <%= menu_item.description %>
            </div>
            
            <div class="text-form-div">
              <form class="text-form" method="POST" action="/review/<%= menu_item.id %>">
                <label for="review">Review</label>
                <textarea class="text-form-body" id="review" type="textarea" name="menu_item_review_body"></textarea>
                <label for="rating">Rating</label>
                <input id="rating" type="number" name="menu_item_rating" min="1" max="10">
                <button type="submit">Submit Review</button>
              </form>
            </div>
            
            <div class="comment-section">
              <h4>Reviews</h4>
              <% if menu_item.reviews.empty? %>
                <p>Sorry, no reviews</p>
              <% else %>
                <ul class="list-group">
                  <% menu_item.reviews.each do |review| %>
                    <li class="list-group-item" style="border: 1px solid black; background: none;">
                      <div class="avatar">
                        <img src="https://www.bcisiveonline.com/Content/images/gravatar_empty_50.png"> 
                      </div>
                      <div class="text-body">
                        <%= review.body %>
                      </div>
                      <div class="text-info">
                        Posted on <%= review.created_at.strftime("%B %d, %Y at %l:%M%p") %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  
  <h3>Users</h3>
  <% if user_signed_in? %>
    <p>
      It looks like you're signed in. Congrats! You can
      <a href="/sessions/sign_out">sign out</a> at any time.
    </p>
  <% else %>
     <p>
      It doesn't look like you're signed in.  You should
       <a href="/users/new">create an account</a> or
      <a href="/sessions/new">sign into your existing account</a>.
    </p>
  <% end %>
  <% if users.empty? %>
    <p>
      Nobody's signed up yet!  Why don't you
      <a href="/users/new">create an account</a>?
    </p>
  <% else %>
    <ul class="text-list">
      <% users.each do |user| %>
      <li><%= user.email %></li>
     <% end %>
    </ul>
  <% end %>
</article>