<article id="main-page">
  <a href = "/admin/add_menu_items">Admin</a>
  <div id="page">
    <% if lunch.menu_items.empty? %>
        <h2>Sorry, no menu items. :(</h2>
    <% else %>
      <h1>Lunch of the Day</h1>
      <%= lunch.date %>
       <ul class="text-list">
        <% lunch.menu_items.each do |menu_item| %>
         <li>
          <div class="item-name">
          <%= menu_item.name %>
          </div>
          <div class ="rating">
          Rating: <%= menu_item.avg_rating %>
          </div>
          <div class="text-body">
          <%= menu_item.description %>
          </div>
          <div class="rating">
            <form method="POST" action="/review/<%= menu_item.id %>">
              <input type="number" name="lunch_rating" min="1" max="10">
              <button type="submit">Submit Rating</button>
            </form>
          </div>
        </li>
       <% end %>
      </ul>
    <% end %>
    <h3>Users</h3>
    <% if user_signed_in? %>
      <p>
        It looks like you're signed in. Congrats! You can
        <a href="/sessions/sign_out">sign out</a> at any time.
      </p>
    <% else %>
       <p>
        It doesn't look like you're signed in.  You should
         <a href="/users/new">create an account</a> or
        <a href="/sessions/new">sign into your existing account</a>.
      </p>
    <% end %>
    <% if users.empty? %>
      <p>
        Nobody's signed up yet!  Why don't you
        <a href="/users/new">create an account</a>?
      </p>
    <% else %>
      <ul>
        <% users.each do |user| %>
        <li><%= user.email %></li>
       <% end %>
      </ul>
    <% end %>
  </div>
</article>